In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
csv_path = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas--low_memory required to suppress errors about mixed data types
surveydata_df = pd.read_csv(csv_path)

C:\Users\igles\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111

reduced_more_clean = surveydata_df.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]

In [5]:
# Change reading 0 and 1 to No and Yes, respectively

reduced_more_clean = reduced_more_clean.replace ({0.0: "No", 1.0:"Yes"})

In [6]:
# Extract rows for only those who attended a bootcamp

more_attended = reduced_more_clean.loc[reduced_more_clean["AttendedBootcamp"] == "Yes"]

In [7]:
# Create DataFrame of the different boot camps that had a significant number of attendees

att_bootcamp = more_attended.groupby(["BootcampName_"]).count()["AttendedBootcamp"]
bootcamp_data_attend = pd.DataFrame({"AttendedBootcamp": att_bootcamp })
bootcamp_data_attend.head(10)

                          AttendedBootcamp
BootcampName_
10x.org.il                               5
4Geeks Academy                           8
AcadGild                                 2
Academia de Código                       4
Academic Work Academy                    1
Academy X                                1
Ada                                      9
Alphappl                                 1
AngelHack Education                      1
Anyone Can Learn To Code                 7

In [8]:
# Count how many attendees of each bootcamp would recommend the bootcamp

rec_bootcamp = more_attended.groupby(["BootcampName_"]).count()["BootcampRecommend"].rename("Recommends the Bootcamp")
bootcamp_data_recommend = pd.DataFrame({"Recommends the Bootcamp": rec_bootcamp })
bootcamp_data_recommend

                          Recommends the Bootcamp
BootcampName_
10x.org.il                                      5
4Geeks Academy                                  7
AcadGild                                        2
Academia de Código                              4
Academic Work Academy                           0
Academy X                                       1
Ada                                             9
Alphappl                                        0
AngelHack Education                             1
Anyone Can Learn To Code                        7
App Academy                                    22
Astro Code School                               1
Atlanta Code                                    1
Austin Coding Academy                           1
Base10 Academy                                  1
Betamore                                        1
Big Nerd Ranch                                  2
Bit Bootcamp                                    3
Bitmaker Labs                                   5
Bloc.io                                        21
BoiseCodeWorks                                  2
BrainStation                                    3
Byte Academy                                    1
CODEcamp Charleston                             2
Camp Code Away                                  3
CareerFoundry                                   5
Claim Academy                                   1
Code 42                                         1
Code Fellows                                   21
Code For Progress                               1
...                                           ...
RefactorU                                       4
Ruby On The Beach                               1
Rutgers Coding Bootcamp                         4
Sabio.la                                        4
Science to Data Science                         1
SeedPaths                                       1
Skillcrush                                      3
Software Guild                                 10
Stackademy                                      1
Starter League                                  3
Startup Institute                               7
TalentBuddy                                     0
Tech Academy Portland                           3
Tech Talent South                              12
Telegraph Academy                               2
The Data Incubator                              1
The Firehose Project                           16
The Iron Yard                                  40
Thinkful                                        6
Turing                                         27
V School                                        3
Viking Code School                             10
We Can Code IT                                  3
We Got Coders                                   2
World Tech Makers                               1
Wyncode                                         6
Zip Code Wilmington                             3
codeU                                           1
devCodeCamp                                     4
tradecraft                                      3

[128 rows x 1 columns]

In [9]:
# Merge the two created data frames on the name of tbe bootcamp

merge_table = pd.merge(bootcamp_data_attend, bootcamp_data_recommend, on="BootcampName_")
merge_table.head(10)

                          AttendedBootcamp  Recommends the Bootcamp
BootcampName_
10x.org.il                               5                        5
4Geeks Academy                           8                        7
AcadGild                                 2                        2
Academia de Código                       4                        4
Academic Work Academy                    1                        0
Academy X                                1                        1
Ada                                      9                        9
Alphappl                                 1                        0
AngelHack Education                      1                        1
Anyone Can Learn To Code                 7                        7

In [18]:
# Calculate percentage of each bootcamp's students who are recommenders
merge_table['Result'] = (merge_table['Recommends the Bootcamp']/merge_table['AttendedBootcamp']).map("{0:,.2f}%".format)
merge_table.head(10)

                          AttendedBootcamp  Recommends the Bootcamp Result
BootcampName_
10x.org.il                               5                        5  1.00%
4Geeks Academy                           8                        7  0.88%
AcadGild                                 2                        2  1.00%
Academia de Código                       4                        4  1.00%
Academic Work Academy                    1                        0  0.00%
Academy X                                1                        1  1.00%
Ada                                      9                        9  1.00%
Alphappl                                 1                        0  0.00%
AngelHack Education                      1                        1  1.00%
Anyone Can Learn To Code                 7                        7  1.00%

In [20]:
# Export to excel and remove index
merge_table.to_excel("output/bootcamppart2.xlsx", index=False)