**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [2]:
# Dependencies
import pandas as pd

In [3]:
# load CSV
csv_path = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [4]:
# Read with pandas
surveydata_df = pd.read_csv(csv_path)

C:\Users\igles\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# Inspect all columns

surveydata_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,Bootcamp,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [6]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111

reduced_coders_pd = surveydata_df.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]

In [7]:
# Change "0" to "No" and "1" to "Yes" in response columns

reduced_coders_pd = reduced_coders_pd.replace ({0.0: "No", 1.0:"Yes"})

In [8]:
# Calculate total number of respondents in survey

total_surveyed = len(reduced_coders_pd)
total_surveyed

15620

In [9]:
# Extract rows corresponding only to people who attended a bootcamp

attended_bootcamp = reduced_coders_pd.loc[reduced_coders_pd["AttendedBootcamp"] == "Yes"]

In [10]:
# Calculate average age of attendees

average_age = attended_bootcamp["Age"].mean()


# Calculate how many people attended a bootcamp

amount_attended = attended_bootcamp["AttendedBootcamp"].count()

# Calculate how many attendees hold degrees

holds_degree = attended_bootcamp["SchoolDegree"].count()

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification

total_gender = attended_bootcamp["Gender"].count()
male = attended_bootcamp["Gender"].value_counts()['male']
female = attended_bootcamp["Gender"].value_counts()['female']
non_gender_specific = total_gender - male - female

# Calculate percentage of respondents who attended a bootcamp
percent_attended = amount_attended / total_surveyed * 100


# Calculate percentage of respondents belonging to each gender
male_percent = (male/total_gender) * 100
female_percent = (female/total_gender) * 100
non_gender_specific_percent = (non_gender_specific/total_gender)*100

# Calculate percentage of attendees with a school degree
degree_percentage = (holds_degree/amount_attended) * 100

# Calculate average post-bootcamp salary
avg_salary = attended_bootcamp["BootcampPostSalary"].mean()
avg_salary

63740.50606060606

In [11]:
# Create a new table consolodating above calculations
bootcamp_breakdown = pd.DataFrame({"Total Surveyed" : [total_surveyed],
                                 "Total Bootcamp attendees" : [percent_attended],
                                 "% attended bootcamp" : [percent_attended],
                                 "Avg. Age" : [average_age],
                                 "% Male" : [male_percent],
                                 "% Female" : [female_percent],
                                 "% non-gender specific" : [non_gender_specific_percent],
                                 "Has a degree" : [degree_percentage],
                                 "Average Post Boocamp Salary" : [avg_salary]})
bootcamp_breakdown = bootcamp_breakdown[["Total Surveyed","Total Bootcamp attendees", "% attended bootcamp", "% Male", "% Female","% non-gender specific", "Has a degree", "Average Post Boocamp Salary"]]
bootcamp_breakdown = bootcamp_breakdown.round(2)

bootcamp_breakdown

,Total Surveyed,Total Bootcamp attendees,% attended bootcamp,% Male,% Female,% non-gender specific,Has a degree,Average Post Boocamp Salary
0,15620,6.1,6.1,59.54,39.14,1.32,87.3,63740.51

In [12]:
# Improve formatting before outputting spreadsheet
bootcamp_breakdown["% Male"] =bootcamp_breakdown["% Male"].map("{0:,.2f}%".format)
bootcamp_breakdown["% Female"] =bootcamp_breakdown["% Female"].map("{0:,.2f}%".format)
bootcamp_breakdown["% attended bootcamp"] =bootcamp_breakdown["% attended bootcamp"].map("{0:,.2f}%".format)
bootcamp_breakdown["% non-gender specific"] =bootcamp_breakdown["% non-gender specific"].map("{0:,.2f}%".format)
bootcamp_breakdown["Has a degree"] =bootcamp_breakdown["Has a degree"].map("{0:,.2f}%".format)
bootcamp_breakdown["Average Post Boocamp Salary"] =bootcamp_breakdown["Average Post Boocamp Salary"].map("${0:,.0f}%".format)

In [13]:
# Export to Excel
bootcamp_breakdown.to_excel("output/bootcamppart1.xlsx", index=False)