### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
grouped_sn = purchase_data.groupby(['SN'])
sn_count = purchase_data["SN"].value_counts()
num_of_players = len(sn_count)
num_of_players

576

## Player Count

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
uni_items = len(purchase_data["Item Name"].unique())
avg_price = round(purchase_data["Price"].mean())
num_items = purchase_data["Item ID"].count()
sum_items = purchase_data["Price"].sum()
purchase_summary_table = pd.DataFrame({"Total Unique Items": [uni_items], "Average Price": avg_price,
                             "Number of Items": num_items,
                             "Revenue": sum_items})
purchase_summary_table

   Total Unique Items  Average Price  Number of Items  Revenue
0                 179              3              780  2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
grouped_gender = purchase_data.groupby(['Gender'])
gender_count = purchase_data["Gender"].value_counts()
percent_gender = round(purchase_data['Gender'].value_counts(normalize=True) * 100)
gender_summary_table = pd.DataFrame({"Count": gender_count,
                                   "Percent": percent_gender})
gender_summary_table["Percent"]= gender_summary_table["Percent"].map("{0:,.2f}%".format)
gender_summary_table

                       Count Percent
Male                     652  84.00%
Female                   113  14.00%
Other / Non-Disclosed     15   2.00%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
bins = [0, 10, 14, 18, 22, 26, 30, 34, 38, 45]
group_names = ["under_ten", "preteens", "teens", "young_adults", "millennials", "early_thirty", "established", "gen_x", "old_folks"]
purchase_data["Category"] = pd.cut(purchase_data["Age"], bins, labels=group_names, right=False)
category_total = purchase_data["Category"].value_counts()
#category_count = purchase_data["Category"].sum()
category_percents = (category_total/num_of_players).map("{0:,.2f}%".format)
age_summary_table = pd.DataFrame({"Count": category_total,
                                 "Percent": category_percents})
age_summary_table

              Count Percent
millennials     263   0.46%
young_adults    210   0.36%
teens            89   0.15%
established      64   0.11%
early_thirty     42   0.07%
gen_x            35   0.06%
old_folks        27   0.05%
preteens         26   0.05%
under_ten        23   0.04%

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
purchase_data["Age"] = pd.cut(purchase_data["Age"], bins, labels=group_names, right=False)
age_purchase_total = purchase_data.groupby(["Age"]).sum()["Price"].rename("Total Purchase Value")
age_avg = purchase_data.groupby(["Age"]).mean()["Price"].rename("Average Purchase Price").map("${0:,.2f}".format)
age_count = purchase_data.groupby(["Age"]).count()["Price"].rename("Purchase Count")
#normalize_total = age_purchase_total / age_summary_table
age_data = pd.DataFrame({"Purchase Count": age_count,
                       "Average Purchase Price": age_avg,
                       "Total Purchase Value": age_purchase_total
                       #"Normalized Total": normalize_total
                       })
age_data

              Purchase Count Average Purchase Price  Total Purchase Value
Age
under_ten                 23                  $3.35                 77.13
preteens                  26                  $2.92                 75.87
teens                     89                  $3.01                267.60
young_adults             210                  $3.08                647.26
millennials              263                  $3.05                800.90
early_thirty              42                  $2.65                111.10
established               64                  $3.00                191.87
gen_x                     35                  $3.21                112.33
old_folks                 27                  $3.48                 94.01

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [7]:
spenders_grouped = purchase_data.groupby(["SN"])
sn_purchase_total = spenders_grouped.sum()["Price"]
sn_avg = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price").map("${0:,.2f}".format)
sv_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
#normalize_total = age_purchase_total / age_summary_table
SN_data = pd.DataFrame({"Purchase Count": sn_count,
                       "Average Purchase Price": sn_avg,
                       "Total Purchase Value": sn_purchase_total
                          })

sort_top_spender = SN_data.sort_values('Total Purchase Value', ascending = False)                      
sort_top_spender.head(10)
    
#"Normalized Total": normalize_total

              Purchase Count Average Purchase Price  Total Purchase Value
Lisosia93                  5                  $3.79                 18.96
Idastidru52                4                  $3.86                 15.45
Chamjask73                 3                  $4.61                 13.83
Iral74                     4                  $3.40                 13.62
Iskadarya95                3                  $4.37                 13.10
Ilarin91                   3                  $4.23                 12.70
Ialallo29                  3                  $3.95                 11.84
Tyidaim51                  3                  $3.94                 11.83
Lassilsala30               3                  $3.84                 11.51
Chadolyla44                3                  $3.82                 11.46

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
item_id_group = purchase_data.groupby(["Item ID", "Item Name"])


item_purchase_total = purchase_data.groupby(["Item Name"]).sum()["Price"].rename("Total Purchase Value").map("${0:,.2f}".format)

item_avg = purchase_data.groupby(["Item Name"]).mean()["Price"].rename("Average Purchase Price").map("${0:,.2f}".format)
item_count = purchase_data.groupby(["Item Name"]).count()["Price"].rename("Purchase Count")  

Item_data = pd.DataFrame({"Purchase Count": item_count,
                       "Average Purchase Price": item_avg,
                       "Total Purchase Value": item_purchase_total
                          })

# print(Item_data.dtypes)

# Item_data = 
Item_data.sort_values(by = ['Purchase Count'], ascending = False, inplace=True)                    
Item_data.head()


#age_avg = purchase_data.groupby(["Age"]).mean()["Price"].rename("Average Purchase Price").map("${0:,.2f}".format)
#age_count = purchase_data.groupby(["Age"]).count()["Price"].rename("Purchase Count")

,Purchase Count,Average Purchase Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Persuasion,9,$3.22,$28.99
Nirvana,9,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [ ]:
Item_data.dtypes

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame